.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.grey-bg .columns-wrapper {
  padding-top: 35px;
}

.columns.text-image p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.38px;
  padding-top: 20px;
}

.columns.history.single-border p a{
  text-decoration: underline;
}

main .section.grey-bg .columns.text-image a {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.38px;
  font-family: "Open Sans SemiBold", "Open Sans", sans-serif;
  background: none;
  border: none;
  padding-left: 0;
}

main .section.grey-bg .columns.text-image .button-container a.button {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  border-radius: 0;
}

main .section.grey-bg .columns.text-image .button-container a.button::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translateY(-50%) rotate(45deg);
}

main .section.grey-bg .columns.text-image .button-container a.button:hover {
  color: #666;
}

.columns.history p {
  margin-bottom: 0.8em;
  margin-top: 0.25em;
}

.columns.history p:has(strong) {
  margin-top: 0;
}

.columns.history > div {
  align-items: unset;
  margin-top: 40px;
  margin-bottom: 40px;
}

.columns.columns24 > div {
  position: relative;
}

.columns.columns-2-1 > div {
  flex-direction: row;
}

.columns.columns-2-1 > div > div {
  order: unset;
}

.columns.columns-2-1 > div > .columns-img-col {
  order: unset;
}

.section.has-columns-2-1 > .default-content-wrapper p {
  padding-right: 20%;
}

.columns.history.multi-border > div {
  border-top: #787878 solid 5px;
  padding-top: 40px;
}

.columns.columns-2-1 > div > div:first-child {
  flex: 0 0 65%;
  padding-right: 0;
}

.columns.columns-2-1 > div > div:first-child p {
  padding-right: 40px;
}

.columns.columns-2-1 > div > div.columns-img-col {
  flex: 0 0 30%;
}

.columns.columns-2-1 > div > div.columns-img-col img {
  padding-top: 30px;
}

.columns.columns24 {
  padding-bottom: 50px;
}

.columns.columns24 > div > div:first-child,
.columns.columns24 > div > div:last-child {
  margin-top: 100px;
}

@media (width >= 768px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.text-image h2 {
    padding-top: 0;
    margin-top: 0;
  }

  .columns.text-image p {
    letter-spacing: 0.43px;
  }

  .columns.text-image .columns-img-col {
    align-items: flex-start;
    margin-top: 0;
  }

  .section.has-columns-2-1 > .default-content-wrapper {
    padding-left: 32px;
  }

  .columns.columns-2-1 > div > div.columns-img-col img {
    padding-top: 0;
  }
}

@media (width < 768px) {
  .section.has-columns-2-1 > .default-content-wrapper {
    padding-left: 24px;
  }

  .columns.columns.history.multi-border > div > div:not(.columns-img-col) {
    padding-top: 25px;
  }
}

@media (width >= 1024px) {
  .columns.text-image > div > div:not(.columns-img-col) {
    flex: 0 0 60%;  /* Takes up 60% of space */
    order: unset;
  }

  .columns.text-image > div > .columns-img-col {
    flex: 0 0 40%;  /* Takes up remaining 40% */
    align-items: flex-start;
    margin-top: 0;
  }

  .columns.text-image p {
    letter-spacing: 0.43px;
    line-height: 28px;
  }

  .columns.history.multi-border > div > .columns-img-col {
      max-width: 264px;
      max-height: 209px;
  }
}

.columns.history p strong {
  font-weight: 700;
  font-family: "Open Sans SemiBold", "Open Sans", sans-serif;
}

.columns.history > div > .columns-img-col {
  flex: 0 0 25%;
}

.columns.history.multi-border > div > div > ul > li::marker {
  color: #004E9A; /* blue bullet points only for the speaker-bureau page */
}

