.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.history p {
  margin-bottom: 0.8em;
  margin-top: 0.25em;
}

.columns.history > div {
  align-items: unset;
}

.columns.history > div > .columns-img-col {
  flex: 0 0 25%;
  padding-top: 0.6em;
}
